.login {
    background-color: aqua;
    height: 500px;
    width: 30%;
    margin-left: 35%;
}
body {
    background-image: url('image/background.jpg');
}
.form {
    width: 80%;
    margin: 10%;
    height: 80%;
}
.input {
    height: 60px;
    width: 100%;
}
.submit {
    margin-left: 30%;
}
.banner {
    width: 100%;
}