.add-treatment-detail {
    background-color: rgb(209, 225, 255);
    margin-left: 10%;
    width: 80%;
    padding-left: 1%;
    padding-right: 1%;
}
.date {
    margin-top: 10px;
    text-align: end;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
.submit {
    margin-left: 80%;
    width: 20%;
    height: 50px;
}

select {
    width: 100%;
}